settings = {
        logfile = "/var/log/lsyncd/lsyncd-pages.log",
        statusFile = "/var/log/lsyncd/lsyncd-pages.status"
}

sync {
    default.rsyncssh,
    source="<%= node['gitlab_lsyncd']['pages']['src_dir'] %>",
    host="<%= node['gitlab_lsyncd']['pages']['target_host'] %>",
    targetdir="<%= node['gitlab_lsyncd']['pages']['target_dir'] %>",
    delete="running",
    exclude={ ".*", "*.tmp" },
    rsync = {
        compress = false,
        checksums = false
    }
}